.calendar {
  & :global(.ant-fullcalendar-header) {
    text-align: left;
    margin-left: 15px;
  }

  & :global(.ant-fullcalendar-header) :global(.ant-radio-group) {
    display: none;
  }

  & :global(.ant-fullcalendar-column-header) :global(.ant-fullcalendar-column-header-inner) {
    color: var(--text-color);
  }

  & :global(.ant-fullcalendar-cell) {
    vertical-align: top;
  }
}
