.popoverOverlay {
  z-index: 3;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
  cursor: pointer;
}

.watched {
  text-decoration: line-through;
  color: var(--text-disabled-color);
}
