:root[theme=dark] {
  --bg-primary-color: #060606;
  --bg-accent-color: #1d1d1d;

  --text-color: #eee;
  --text-disabled-color: #888;

  --primary-color: #ff6c00;
  --primary-hover-color: #ff7815;
  --primary-active-color: #d85c00;
}
