:root[theme=light] {
  --bg-primary-color: #eee;
  --bg-accent-color: #cecece;

  --text-color: #111;
  --text-disabled-color: #999;

  --primary-color: #3a0a93;
  --primary-hover-color: #5c22c6;
  --primary-active-color: #300879;
}
