html,
body {
  font: 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background-color: var(--bg-primary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  outline: none;
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-hover-color);
  }

  &:active {
    color: var(--primary-active-color);
  }
}

:global(.MuiSvgIcon-root-1),
:global(.c1) {
  vertical-align: middle;
}

input::placeholder {
  color: var(--text-disabled-color) !important;
}
