:global(.toastify-toast) {
  border-radius: 0 !important;
  background-color: var(--bg-accent-color) !important;

  & > button {
    color: var(--text-disabled-color) !important;
  }
}
:global(.toastify-body) {
  color: var(--text-color) !important;
}
:global(.toastify-progress) {
  background: var(--primary-color) !important;
}
