:global(.toastify-toast) {
  border-radius: 0;
  background-color: var(--bg-accent-color);

  & > button {
    color: var(--text-disabled-color);
  }
}
:global(.toastify-body) {
  color: var(--text-color);
}
:global(.toastify-progress) {
  background: var(--primary-color);
}
