.card {
  min-height: 100px;
}

.header {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 40px 40px;
  grid-template-areas:
    "type title"
    "type actions";
}

.type {
  grid-area: type;
}

.title {
  grid-area: title;
}

.actions {
  grid-area: actions;
}
