.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;

  & > div {
    padding: 10px;
    flex-grow: 1;
  }

  & p {
    padding: 0;
    margin: 0;
    line-height: 110%;
  }
}

.bgDark {
  background-color: var(--bg-dark);
  color: var(--bg-text);
}

.bg {
  background-color: var(--bg);
  color: var(--bg-text);
}

.bgLight {
  background-color: var(--bg-light);
  color: var(--bg-text);
}

.primaryDark {
  background-color: var(--primary-dark);
  color: var(--primary-text);
}

.primary {
  background-color: var(--primary);
  color: var(--primary-text);
}

.primaryLight {
  background-color: var(--primary-light);
  color: var(--primary-text);
}

.secondaryDark {
  background-color: var(--secondary-dark);
  color: var(--secondary-text);
}

.secondary {
  background-color: var(--secondary);
  color: var(--secondary-text);
}

.secondaryLight {
  background-color: var(--secondary-light);
  color: var(--secondary-text);
}

.tertiaryDark {
  background-color: var(--tertiary-dark);
  color: var(--tertiary-text);
}

.tertiary {
  background-color: var(--tertiary);
  color: var(--tertiary-text);
}

.tertiaryLight {
  background-color: var(--tertiary-light);
  color: var(--tertiary-text);
}

/*** ***/

.bgDarkText {
  color: var(--bg-dark);
}

.bgText {
  color: var(--bg);
}

.bgLightText {
  color: var(--bg-light);
}

.primaryDarkText {
  color: var(--primary-dark);
}

.primaryText {
  color: var(--primary);
}

.primaryLightText {
  color: var(--primary-light);
}

.secondaryDarkText {
  color: var(--secondary-dark);
}

.secondaryText {
  color: var(--secondary);
}

.secondaryLightText {
  color: var(--secondary-light);
}

.tertiaryDarkText {
  color: var(--tertiary-dark);
}

.tertiaryText {
  color: var(--tertiary);
}

.tertiaryLightText {
  color: var(--tertiary-light);
}
