.container {
  position: relative;
}

.prevMonth,
.nextMonth,
.currentMonth {
  position: absolute;
  top: 12px;
  z-index: 3;
}

.nextMonth {
  left: 195px;
}

.currentMonth {
  left: 230px;
}

.calendar {
  & :global(.ant-fullcalendar-header) {
    text-align: left;
    margin-left: 40px;
  }

  & :global(.ant-fullcalendar-header) :global(.ant-radio-group) {
    display: none;
  }

  & :global(.ant-fullcalendar-column-header) :global(.ant-fullcalendar-column-header-inner) {
    color: var(--text-color);
  }

  & :global(.ant-fullcalendar-cell) {
    vertical-align: top;
  }
}
