.nav {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--nav-width);
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
}

.item {
  margin: 5px 0;
}

.link {
  display: block;
  color: var(--bg-text);
  width: var(--nav-width);
  border-left: 3px solid transparent;
  text-align: center;
  padding: 5px;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover,
  &.active {
    border-left-color: var(--primary);
    border-top-color: var(--primary);

    & > .icon {
      color: var(--primary);
    }
  }

  &.active {
    background-color: var(--bg);
  }
}

.icon.icon {
  vertical-align: middle;
  transition: all 0.2s ease;
}

.spacer {
  flex-grow: 1;
}

.themePickerItem {
  position: relative;
}

.themePickerLink {
  z-index: 9;
  position: relative;
  background-color: var(--bg-dark);
}

.themePicker {
  position: absolute;
  top: 0;
  left: calc(var(--nav-width) - 3px);
  background-color: var(--bg-dark);
  display: flex;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 8;
  transition: all 0.2s ease;

  &.open {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (--phone) {
  .nav {
    flex-direction: row;
    padding: 0;
    min-width: var(--min-container-width);
  }

  .item {
    margin: 0 5px;
  }

  .link {
    height: var(--nav-height);
    width: auto;
    border-left: none;
    border-top: 3px solid transparent;
  }

  .themePicker {
    top: calc(var(--nav-height) - 3px);
    left: 0;
    flex-direction: column;
    transform: translate(0%, -100%);

    &.open {
      transform: translate(0%, 0%);
    }
  }
}
