@import "./extra.css";

@value primary from "../../../../styles/variables.css";

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  margin: 10px;
  text-transform: uppercase;

  & :global(.active) {
    font-weight: bold;
    text-decoration: none;
    color: primary;
  }
}
