.iconWrapper {
  vertical-align: text-bottom;
}

.small.small {
  width: 1.6rem;
  height: 1.6rem;
}

.default.default {
  width: 2.4rem;
  height: 2.4rem;
}

.large.large {
  width: 4.8rem;
  height: 4.8rem;
}

.xlarge.xlarge {
  width: 7.2rem;
  height: 7.2rem;
}
