.seasonRow,
.episodeRow {
  transition: all 0.2s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 318px;
}

.seasonRow {
  padding-left: 10px;
  margin-left: -5px;
  font-weight: bold;
}

.episodeRow {
  padding-left: 25px;
  margin-left: -23px;
}

.actionButtons {
  transition: all 0.2s ease;
  opacity: 0;
}

.seasonRow:hover > .actionButtons,
.episodeRow:hover > .actionButtons {
  opacity: 1;
}

.watched {
  color: var(--text-disabled-color);
  text-decoration: line-through;
}
