:root[theme=dark] {
  --bg-dark: #060606;
  --bg: #1d1d1d;
  --bg-light: #303030;
  --bg-text: #eee;

  --primary-dark: #9d0084;
  --primary: #c304a5;
  --primary-light: #c82caf;
  --primary-text: #eee;

  --secondary-dark: #df2e00;
  --secondary: #ff3905;
  --secondary-light: #ff6238;
  --secondary-text: #fff;

  --tertiary-dark: #2c0f99;
  --tertiary: #3d1abf;
  --tertiary-light: #5a3ec5;
  --tertiary-text: #fff;
}
