:root[theme=light] {
  --bg-dark: #cecece;
  --bg: #ddd;
  --bg-light: #eee;
  --bg-text: #111;

  --primary-dark: #8a0027;
  --primary: #b20033;
  --primary-light: #e20041;
  --primary-text: #eee;

  --secondary-dark: #007222;
  --secondary: #00922c;
  --secondary-light: #00ba38;
  --secondary-text: #eee;

  --tertiary-dark: #1c0a6a;
  --tertiary: #230c89;
  --tertiary-light: #290cad;
  --tertiary-text: #fff;
}
