.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchPrefix {
  margin-left: -7px;
  color: var(--text-color);
}

.title {
  width: 30rem;
  margin-right: 2rem;
}

.types {
  margin-right: 2rem;
}

.following {
  margin-right: 4rem;
}
