/*
 * Button
 */
:global(.ant-btn) {
  border-radius: 0;
}
:global(.ant-btn-loading):before {
  display: none !important;
}
:global(.ant-btn-background-ghost) {
  border-color: var(--text-color);
  color: var(--text-color);
}
:global(.ant-btn)[disabled],
:global(.ant-btn):global(.ant-btn-danger)[disabled],
:global(.ant-btn):global(.ant-btn-primary)[disabled] {
  border-color: var(--text-disabled-color);
  color: var(--text-disabled-color);
}

/*
 * Card
 */
:global(.ant-card) {
  border-radius: 0;
}
:global(.ant-card-head) {
  background-color: var(--bg-primary-color);
  border-bottom: 2px solid var(--primary-color);
}
:global(.ant-card-head-title) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: var(--primary-color);
}
:global(.ant-card-body) {
  background-color: var(--bg-primary-color);
  color: var(--text-color);
  font-size: 1.4rem;
}

/*
 * Checkbox
 */
:global(.ant-checkbox-wrapper) {
  color: var(--text-color);
}
:global(.ant-checkbox-inner) {
  border-radius: 0;
  border-color: var(--text-color);
  background-color: transparent;
}

/*
 * Form
 */
:global(.ant-form),
:global(.ant-form-item-label) label {
  color: var(--text-color);
}

/*
 * Input
 */
:global(.ant-input) {
  border-radius: 0;
  border-color: var(--text-color);
  background-color: transparent;
  color: var(--text-color);
}

/*
 * Switch
 */
:global(.ant-switch):not(:global(.ant-switch-checked)) {
  background-color: var(--bg-accent-color);
}
:global(.ant-switch):after {
  background-color: var(--text-color);
}

/*
 * Radio
 */
:global(.ant-radio-button-wrapper):global(.ant-radio-button-wrapper) {
  border-radius: 0;
  background-color: transparent;
  &:before {
    display: none;
  }
}
:global(.ant-radio-button-wrapper):not(:global(.ant-radio-button-wrapper-checked)) {
  border-color: var(--text-color);
}
:global(.ant-radio-button-wrapper):not(:global(.ant-radio-button-wrapper-checked)):not(:hover) {
  color: var(--text-color);
}

/*
 * Date Picker
 */
:global(.ant-calendar-picker-icon):after {
  color: var(--text-color);
}
:global(.ant-calendar-picker-container) {
  & :global(.ant-calendar) {
    border-radius: 0;
    border-color: var(--bg-accent-color);
    background-color: var(--bg-primary-color);
  }
  & :global(.ant-calendar-input-wrap) {
    border-color: var(--bg-accent-color);
  }
  & :global(.ant-calendar-input) {
    color: var(--text-color);
    background-color: var(--bg-primary-color);
  }
  & :global(.ant-calendar-header) {
    border-color: var(--bg-accent-color);
  }
  & :global(.ant-calendar-prev-year-btn),
  & :global(.ant-calendar-prev-month-btn),
   {
    border-color: var(--text-color);
  }
  & :global(.ant-calendar-footer) {
    border-color: var(--bg-accent-color);
  }
}

/*
 * Select
 */
:global(.ant-select),
:global(.ant-select) :global(.ant-select-arrow) {
  color: var(--text-color);
}
:global(.ant-select-selection) {
  background-color: var(--bg-primary-color);
  border-color: var(--text-color);
  border-radius: 0;
}
:global(.ant-select-dropdown) {
  border-radius: 0;
  border: 1px solid var(--bg-accent-color);
  background-color: var(--bg-primary-color);
}
:global(.ant-select-dropdown-menu-item) {
  color: var(--text-color);
  background-color: var(--bg-primary-color);
}
:global(.ant-select-dropdown-menu-item):hover {
  color: var(--text-color);
  background-color: var(--bg-accent-color);
}
:global(.ant-select-dropdown-menu-item-active),
:global(.ant-select-dropdown-menu-item-selected) {
  background-color: var(--bg-accent-color);
}

/*
 * Table
 */
:global(.ant-table) th,
:global(.ant-table) td {
  color: var(--text-color);
}
:global(.ant-table-thead) > tr > th {
  background-color: transparent !important;
  color: var(--text-color);
  border-color: var(--bg-accent-color);
}
:global(.ant-table-tbody) > tr > td {
  padding: 8px !important;
  border-color: var(--bg-accent-color);
}
:global(.ant-table-tbody) > tr:hover > td {
  background-color: var(--bg-primary-color);
}
:global(.ant-table-placeholder) {
  background-color: transparent;
  border-bottom: none;
}

/*
 * Pagination
 */
:global(.ant-table-pagination):global(.ant-pagination) {
  float: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
:global(.ant-pagination-total-text) {
  margin-left: 5px;
}
:global(.ant-pagination-total-text),
:global(.ant-pagination-prev) a,
:global(.ant-pagination-next) a,
:global(.ant-pagination-item):not(:global(.ant-pagination-item-active)):not(:hover) a {
  color: var(--text-color);
  &:active {
    color: var(--text-color);
  }
}
:global(.ant-pagination-disabled) :global(.ant-pagination-item-link),
:global(.ant-pagination-disabled):hover :global(.ant-pagination-item-link) {
  color: var(--text-disabled-color);
}
:global(.ant-pagination-item-active) {
  border-radius: 0;
  background-color: transparent;
}

/*
 * Modal
 */
:global(.ant-modal-content) {
  border-radius: 0;
  border: 1px solid var(--bg-accent-color);
}
:global(.ant-modal-header) {
  border-radius: 0;
  background-color: var(--bg-accent-color);
  border-bottom: none;
}
:global(.ant-modal-title) {
  color: var(--text-color);
}
:global(.ant-modal-close-x) {
  color: var(--text-disabled-color);
  &:hover {
    color: var(--text-color);
  }
}
:global(.ant-modal-body) {
  color: var(--text-color);
  background-color: var(--bg-primary-color);
}

/*
 * Popconfirm
 */
:global(.ant-popover-message-title) {
  color: var(--text-color);
}
:global(.ant-popover-buttons) {
  & > :first-child:not(.ant-btn-primary) {
    background-color: transparent;
  }
  & > :first-child:not(.ant-btn-primary):not(:hover) {
    color: var(--text-color);
    border-color: var(--text-color);
  }
}

/*
 * Popover
 */
:global(.ant-popover-arrow) {
  display: none;
}
:global(.ant-popover-inner) {
  border-radius: 0;
  border: 1px solid var(--bg-accent-color);
}
:global(.ant-popover-title) {
  color: var(--text-color);
  background-color: var(--bg-accent-color);
  border-bottom: none;
}
:global(.ant-popover-inner-content) {
  color: var(--text-color);
  background-color: var(--bg-primary-color);
}

/*
 * Tree
 */
:global(.ant-tree) {
  color: inherit;
}
:global(.ant-tree) li :global(.ant-tree-node-content-wrapper) {
  color: inherit;
  border-radius: 0;
}
:global(.ant-tree)[unselectable=on] li :global(.ant-tree-node-content-wrapper):hover {
  background-color: transparent;
  cursor: default;
}
