/*
 * Card
 */
:global(.ant-card) {
  border-radius: 0;
}
:global(.ant-card-head) {
  background-color: var(--bg-light);
  border-bottom: 2px solid var(--primary);
}
:global(.ant-card-head-title) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: var(--primary);
}
:global(.ant-card-body) {
  background-color: var(--bg-light);
  color: var(--bg-text);
  font-size: 1.4rem;
}

/*
 * Table
 */
:global(.ant-table) th,
:global(.ant-table) td {
  color: var(--bg-text);
}
:global(.ant-table-thead) > tr > th {
  background-color: transparent !important;
  color: var(--bg-text);
  border-color: var(--bg);
}
:global(.ant-table-tbody) > tr > td {
  padding: 8px !important;
  border-color: var(--bg);
}
:global(.ant-table-tbody) > tr:hover > td {
  background-color: var(--bg);
}
:global(.ant-table-placeholder) {
  background-color: transparent;
  border-bottom: none;
}

/*
 * Tree
 */
:global(.ant-tree) {
  color: inherit;
}
:global(.ant-tree) li :global(.ant-tree-node-content-wrapper) {
  color: inherit;
  border-radius: 0;
}
:global(.ant-tree)[unselectable=on] li :global(.ant-tree-node-content-wrapper):hover {
  background-color: transparent;
  cursor: default;
}
