html,
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background-color: var(--bg);
  color: var(--bg-text);
}

* {
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  outline: none;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary-light);
  }
}
