:root {
  --nav-width: 50px;
  --nav-height: 100vh;

  --content-margin-top: 0;
  --content-margin-left: var(--nav-width);

  --min-container-width: 360px;
}

@media (--phone) {
  :root {
    --nav-width: 100vw;
    --nav-height: 40px;

    --content-margin-top: var(--nav-height);
    --content-margin-left: 0;
  }
}
