:global(.toastify-content) {
  border-radius: 0;
}
:global(.toastify-content--default) {
  background-color: var(--bg-accent-color);
  color: var(--text-color);

  & :global(.toastify__close) {
    color: var(--text-disabled-color);
  }
}
:global(.toastify__progress--default) {
  background: var(--primary-color);
}
